*{
    border: 1px solid red;
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    /* width: 50vw; */
}
.container{
    display: grid;
    grid-template-columns: 25vw 60vw 25vw;
    /* grid-template-rows: 25vh 25vh 25vh 25vh;  */
    /* grid-template-rows: repeat(4,25vh); */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "header header header"
    "menu main widget1"
    "menu main widget2"
    "footer footer footer";
    /* justify-items: stretch; */
    /* align-items: center; */
    /* gap: 10px; */
    column-gap: 32px;
    row-gap: 16px;
}
.area-header{
    grid-area: header;
}
.area-menu{
    grid-area: menu;
}
.area-main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "element1 . ."
    ". element2 ."
    ". . element3";
}
.area-element1{
    grid-area: element1;
    
}
.area-element2{
    grid-area: element2;

}
.area-element3{
    grid-area: element3;

}
.area-widget1{
    grid-area: widget1;
}
.area-widget2{
    grid-area: widget2;
}
.area-footer{
    grid-area: footer;
    height: 100px;
    width: 200px;
    /* justify-self:center ;
    align-self: center; */
    place-self: center;
}

.black{
    background-color: black;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.violet{
    background-color: violet;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}

@media(max-width:768px) {
    .container{
        grid-template-columns: 30vh 25vh 80vh 25vh 30vh;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
    "header header"
    "menu menu"
    "main main"
    "widget1 widget2"
    "footer footer";
}
}

@media (max-width: 480px){
    .container{
        grid-template-columns: 100vw;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
    "header"
    "menu"
    "main"
    "widget1"
    "widget2"
    "footer";
       

    }
    body{
        height: auto;
    }
}



